---
layout: layout.liquid
title: Planetary Playing Cards
---

<script>
    ScrollReveal().reveal('.module', { interval: 600 });
</script>

<h1>Planetary Playing Cards</h1>

<main>
    <div class="module sun">
        <div class="circle sun"></div>
        <h1>Sun</h1>
        <h2>Type G2V</h2>
    </div>
    <div class="module mercury">
        <div class="circle mercury"></div>
        <h3>Mercury</h3>
        <h4>AU Distance</h4>
    </div>
    <div class="module venus">
        <div class="circle venus"></div>
        <h3>Venus</h3>
        <h4>AU Distance</h4>
    </div>
    <div class="module earth">
        <div class="circle earth"></div>
        <h3>Earth</h3>
        <h4>AU Distance</h4>
    </div>
    <div class="module mars">
        <div class="circle mars"></div>
        <h3>Mars</h3>
        <h4>AU Distance</h4>
    </div>
    <div class="module jupiter">
        <div class="circle jupiter"></div>
        <h3>Jupiter</h3>
        <h4>AU Distance</h4>
    </div>
    <div class="module saturn">
        <div class="circle saturn"></div>
        <h3>Saturn</h3>
        <h4>AU Distance</h4>
    </div>
    <div class="module uranus">
        <div class="circle uranus"></div>
        <h3>Uranus</h3>
        <h4>AU Distance</h4>
    </div>
    <div class="module neptune">
        <div class="circle neptune"></div>
        <h3>Neptune</h3>
        <h4>AU Distance</h4>
    </div>
</main>